<a href="https://colab.research.google.com/github/Karan1928/Python-for-DS/blob/main/Confidence_Interval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from scipy import stats
import pandas as pd
import numpy as np

In [5]:
beml_df = pd.read_csv("beml_df.csv")

In [6]:
beml_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1134.60 -0.000881
1     2010-01-06  2010-01-06  1139.60  0.004407
2     2010-01-07  2010-01-07  1144.15  0.003993
3     2010-01-08  2010-01-08  1144.05 -0.000087
4     2010-01-11  2010-01-11  1137.00 -0.006162
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26   950.25 -0.021924
1734  2016-12-27  2016-12-27   975.70  0.026782
1735  2016-12-28  2016-12-28   974.40 -0.001332
1736  2016-12-29  2016-12-29   986.05  0.011956
1737  2016-12-30  2016-12-30  1000.60  0.014756

[1738 rows x 4 columns]

In [7]:
glaxo_df = pd.read_csv("glaxo_df.csv")

In [8]:
glaxo_df

            Date      Date.1    Close      gain
0     2010-01-05  2010-01-05  1616.80 -0.005444
1     2010-01-06  2010-01-06  1638.50  0.013422
2     2010-01-07  2010-01-07  1648.70  0.006225
3     2010-01-08  2010-01-08  1639.80 -0.005398
4     2010-01-11  2010-01-11  1629.45 -0.006312
...          ...         ...      ...       ...
1733  2016-12-26  2016-12-26  2723.50 -0.001283
1734  2016-12-27  2016-12-27  2701.75 -0.007986
1735  2016-12-28  2016-12-28  2702.15  0.000148
1736  2016-12-29  2016-12-29  2727.90  0.009529
1737  2016-12-30  2016-12-30  2729.80  0.000697

[1738 rows x 4 columns]

In [ ]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean()
scale = glaxo_df.gain.std())

In [20]:
glaxo_df_ci

(-1.9595779434574618, 1.9603500256226463)

In [24]:
beml_df_ci = stats.norm.interval(0.95,
loc = beml_df.gain.mean()
scale = beml_df.gain.std())

In [26]:
beml_df_ci

(-1.959693236460997, 1.9602347326191112)