<a href="https://colab.research.google.com/github/Karan1928/Python-for-DS/blob/main/EDA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Label Encoder

In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [13]:
data = pd.read_csv("Iris.csv",index_col=0)

In [18]:
data.head()
data1 = data

In [19]:
labelencoder = LabelEncoder()
data.iloc[:, -1] = labelencoder.fit_transform(data1.iloc[:,-1])

In [20]:
data1

              sepal width  petal length  petal width  iris
sepal length
5.1                   3.5           1.4          0.2     0
4.9                   3.0           1.4          0.2     0
4.7                   3.2           1.3          0.2     0
4.6                   3.1           1.5          0.2     0
5.0                   3.6           1.4          0.2     0
...                   ...           ...          ...   ...
6.7                   3.0           5.2          2.3     2
6.3                   2.5           5.0          1.9     2
6.5                   3.0           5.2          2.0     2
6.2                   3.4           5.4          2.3     2
5.9                   3.0           5.1          1.8     2

[150 rows x 4 columns]

### One Hot Encoder

#### Using sklearn

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [45]:
data2=pd.read_csv("Iris.csv")

In [50]:
data2

     sepal length  sepal width  petal length  petal width            iris
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [51]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')

In [53]:
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data2[['iris']]).toarray())

In [54]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [ ]:
# merge with main df 
data_final = data2.iloc[:,0:4].join(enc_df)
data_final

#### Using Pandas

In [32]:
import pandas as pd

In [56]:
data3 =pd.read_csv("Iris.csv")

In [57]:
data_encoded=pd.get_dummies(data3)

In [58]:
data_encoded

     sepal length  sepal width  ...  iris_Iris-versicolor  iris_Iris-virginica
0             5.1          3.5  ...                     0                    0
1             4.9          3.0  ...                     0                    0
2             4.7          3.2  ...                     0                    0
3             4.6          3.1  ...                     0                    0
4             5.0          3.6  ...                     0                    0
..            ...          ...  ...                   ...                  ...
145           6.7          3.0  ...                     0                    1
146           6.3          2.5  ...                     0                    1
147           6.5          3.0  ...                     0                    1
148           6.2          3.4  ...                     0                    1
149           5.9          3.0  ...                     0                    1

[150 rows x 7 columns]

#### IsolationForest

In [59]:
from sklearn.ensemble import IsolationForest

In [66]:
data =pd.read_csv("Iris.csv")
data_encoded=pd.get_dummies(data)

In [67]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination=0.01,
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=10, verbose=0, warm_start=False)

In [68]:
# predictions
y_pred_outliers = clf.predict(data_encoded)

In [69]:
#-1 for outliers and 1 for inliers.
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [70]:
data_encoded

     sepal length  sepal width  ...  iris_Iris-versicolor  iris_Iris-virginica
0             5.1          3.5  ...                     0                    0
1             4.9          3.0  ...                     0                    0
2             4.7          3.2  ...                     0                    0
3             4.6          3.1  ...                     0                    0
4             5.0          3.6  ...                     0                    0
..            ...          ...  ...                   ...                  ...
145           6.7          3.0  ...                     0                    1
146           6.3          2.5  ...                     0                    1
147           6.5          3.0  ...                     0                    1
148           6.2          3.4  ...                     0                    1
149           5.9          3.0  ...                     0                    1

[150 rows x 7 columns]

In [71]:
## Let us add a new data point which is outlier
data_encoded.loc[150]=[20,40,30,50,1,0,0]

In [72]:
data_encoded

     sepal length  sepal width  ...  iris_Iris-versicolor  iris_Iris-virginica
0             5.1          3.5  ...                     0                    0
1             4.9          3.0  ...                     0                    0
2             4.7          3.2  ...                     0                    0
3             4.6          3.1  ...                     0                    0
4             5.0          3.6  ...                     0                    0
..            ...          ...  ...                   ...                  ...
146           6.3          2.5  ...                     0                    1
147           6.5          3.0  ...                     0                    1
148           6.2          3.4  ...                     0                    1
149           5.9          3.0  ...                     0                    1
150          20.0         40.0  ...                     0                    0

[151 rows x 7 columns]

In [86]:
# training the model
clf = IsolationForest(random_state=10,contamination=.01)
clf.fit(data_encoded)
# predictions
y_pred_outliers = clf.predict(data_encoded)
y_pred_outliers

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1])

In [87]:
data_encoded['scores']=clf.decision_function(data_encoded)

In [89]:
data_encoded['anomaly']=clf.predict(data_encoded.iloc[:,0:8])

In [90]:
data_encoded

     sepal length  sepal width  ...    scores  anomaly
0             5.1          3.5  ...  0.210048        1
1             4.9          3.0  ...  0.168467        1
2             4.7          3.2  ...  0.184877        1
3             4.6          3.1  ...  0.178048        1
4             5.0          3.6  ...  0.198004        1
..            ...          ...  ...       ...      ...
146           6.3          2.5  ...  0.169546        1
147           6.5          3.0  ...  0.195624        1
148           6.2          3.4  ...  0.147483        1
149           5.9          3.0  ...  0.160186        1
150          20.0         40.0  ... -0.275522       -1

[151 rows x 9 columns]

In [91]:
#Print the outlier data points
data_encoded[data_encoded['anomaly']==-1]

     sepal length  sepal width  ...    scores  anomaly
118           7.7          2.6  ... -0.002353       -1
150          20.0         40.0  ... -0.275522       -1

[2 rows x 9 columns]

### PPS score

In [92]:
#install the package
!pip install ppscore

Requirement already satisfied: ppscore in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ppscore) (1.1.5)
Requirement already satisfied: scikit-learn<1.0.0,>=0.20.2 in /usr/local/lib/python3.7/dist-packages (from ppscore) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0.0,>=0.20.2->ppscore) (1.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2.0.0,>=1.0.0->ppscore) (1.15.0)

In [93]:
import ppscore as pps

In [96]:
data.axes

[RangeIndex(start=0, stop=150, step=1),
 Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'iris'], dtype='object')]

In [101]:
#pps.score(df, "feature_column", "target_column")  syntax
pps.score(data, "sepal length", "petal length")

{'baseline_score': 1.488,
 'case': 'regression',
 'is_valid_score': True,
 'metric': 'mean absolute error',
 'model': DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best'),
 'model_score': 0.6687445810472126,
 'ppscore': 0.5505748783284862,
 'x': 'sepal length',
 'y': 'petal length'}

In [102]:
#calculate the whole PPS matrix
pps.matrix(data)

               x  ...                                              model
0   sepal length  ...                                               None
1   sepal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
2   sepal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
3   sepal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
4   sepal length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
5    sepal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
6    sepal width  ...                                               None
7    sepal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
8    sepal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
9    sepal width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
10  petal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
11  petal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
12  petal length  ...                                               None
13  petal length  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
14  petal length  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
15   petal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
16   petal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
17   petal width  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
18   petal width  ...                                               None
19   petal width  ...  DecisionTreeClassifier(ccp_alpha=0.0, class_we...
20          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
21          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
22          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
23          iris  ...  DecisionTreeRegressor(ccp_alpha=0.0, criterion...
24          iris  ...                                               None

[25 rows x 9 columns]