<a href="https://colab.research.google.com/github/Karan1928/Python-for-DS/blob/main/NeuralNetwork_Forestfire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Activation,Layer,Lambda

In [4]:
forestfire = pd.read_csv('forestfires.csv')
forestfire

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0          small
1     oct  tue  90.6   35.4  ...         0         1         0          small
2     oct  sat  90.6   43.7  ...         0         1         0          small
3     mar  fri  91.7   33.3  ...         0         0         0          small
4     mar  sun  89.3   51.3  ...         0         0         0          small
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0          large
513   aug  sun  81.6   56.7  ...         0         0         0          large
514   aug  sun  81.6   56.7  ...         0         0         0          large
515   aug  sat  94.4  146.0  ...         0         0         0          small
516   nov  tue  79.5    3.0  ...         1         0         0          small

[517 rows x 31 columns]

In [6]:
#Dummy variables are already created, so we will remove the month and alsoday columns
forestfire.drop(["month","day"],axis=1,inplace = True)

In [7]:
forestfire["size_category"].value_counts()

small    378
large    139
Name: size_category, dtype: int64

In [8]:
forestfire.isnull().sum()

FFMC             0
DMC              0
DC               0
ISI              0
temp             0
RH               0
wind             0
rain             0
area             0
dayfri           0
daymon           0
daysat           0
daysun           0
daythu           0
daytue           0
daywed           0
monthapr         0
monthaug         0
monthdec         0
monthfeb         0
monthjan         0
monthjul         0
monthjun         0
monthmar         0
monthmay         0
monthnov         0
monthoct         0
monthsep         0
size_category    0
dtype: int64

In [9]:
forestfire.describe()

             FFMC         DMC          DC  ...    monthnov    monthoct    monthsep
count  517.000000  517.000000  517.000000  ...  517.000000  517.000000  517.000000
mean    90.644681  110.872340  547.940039  ...    0.001934    0.029014    0.332689
std      5.520111   64.046482  248.066192  ...    0.043980    0.168007    0.471632
min     18.700000    1.100000    7.900000  ...    0.000000    0.000000    0.000000
25%     90.200000   68.600000  437.700000  ...    0.000000    0.000000    0.000000
50%     91.600000  108.300000  664.200000  ...    0.000000    0.000000    0.000000
75%     92.900000  142.400000  713.900000  ...    0.000000    0.000000    1.000000
max     96.200000  291.300000  860.600000  ...    1.000000    1.000000    1.000000

[8 rows x 28 columns]

In [14]:
#I am taking small as 0 and large as 1
forestfire.loc[forestfire["size_category"]=='small','size_category']=0
forestfire.loc[forestfire["size_category"]=='large','size_category']=1
forestfire["size_category"].value_counts()

0    378
1    139
Name: size_category, dtype: int64

In [15]:
#Normalization
def norm_func(i):
     x = (i-i.min())	/	(i.max()	-	i.min())
     return (x)

In [18]:
predictors = forestfire.iloc[:,0:28]
target = forestfire.iloc[:,28]

In [19]:
predictors1 = norm_func(predictors)

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(predictors1,target, test_size=0.3,stratify = target)

In [24]:
def prep_model(hidden_dim):
    model = Sequential()
    for i in range(1,len(hidden_dim)-1):
        if (i==1):
            model.add(Dense(hidden_dim[i],input_dim=hidden_dim[0],activation="relu"))
        else:
            model.add(Dense(hidden_dim[i],activation="relu"))
    model.add(Dense(hidden_dim[-1],kernel_initializer="normal",activation="sigmoid"))
    model.compile(loss="binary_crossentropy",optimizer = "rmsprop",metrics = ["accuracy"])
    return model

In [27]:
#y_train = pd.DataFrame(y_train)
first_model = prep_model([28,50,40,20,1])

In [30]:
pred_train = first_model.predict(np.array(x_train))

In [31]:
#Converting the predicted values to series 
pred_train = pd.Series([i[0] for i in pred_train])

In [32]:
size = ["small","large"]
pred_train_class = pd.Series(["small"]*361)
pred_train_class[[i>0.5 for i in pred_train]]= "large"

In [33]:
train = pd.concat([x_train,y_train],axis=1)
train["size_category"].value_counts()

0    264
1     97
Name: size_category, dtype: int64

In [37]:
#For training data
from sklearn.metrics import confusion_matrix
train["original_class"] = "small"
train.loc[train["size_category"]==1,"original_class"] = "large"
train.original_class.value_counts()

small    264
large     97
Name: original_class, dtype: int64

In [39]:
confusion_matrix(pred_train_class,train["original_class"])

array([[ 97, 264],
       [  0,   0]])

In [44]:
np.mean(pred_train_class==pd.Series(train["original_class"]).reset_index(drop=True))

0.26869806094182824

In [41]:
pd.crosstab(pred_train_class,pd.Series(train["original_class"]).reset_index(drop=True))

original_class  large  small
row_0
large              97    264

In [35]:
#For test data
pred_test = first_model.predict(np.array(x_test))
pred_test = pd.Series([i[0] for i in pred_test])
pred_test_class = pd.Series(["small"]*156)
pred_test_class[[i>0.5 for i in pred_test]] = "large"
test =pd.concat([x_test,y_test],axis=1)
test["original_class"]="small"
test.loc[test["size_category"]==1,"original_class"] = "large"

In [36]:
test["original_class"].value_counts()

small    114
large     42
Name: original_class, dtype: int64

In [43]:
np.mean(pred_test_class==pd.Series(test["original_class"]).reset_index(drop=True))

0.2692307692307692

In [45]:
confusion_matrix(pred_test_class,test["original_class"])

array([[ 42, 114],
       [  0,   0]])

In [46]:
pd.crosstab(pred_test_class,pd.Series(test["original_class"]).reset_index(drop=True))

original_class  large  small
row_0
large              42    114