<a href="https://colab.research.google.com/github/Karan1928/Python-for-DS/blob/main/Random_Forest_Company.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot

In [3]:
company=pd.read_csv('Company_Data.csv')
company

     Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0     9.50        138      73           11  ...   42         17   Yes  Yes
1    11.22        111      48           16  ...   65         10   Yes  Yes
2    10.06        113      35           10  ...   59         12   Yes  Yes
3     7.40        117     100            4  ...   55         14   Yes  Yes
4     4.15        141      64            3  ...   38         13   Yes   No
..     ...        ...     ...          ...  ...  ...        ...   ...  ...
395  12.57        138     108           17  ...   33         14   Yes  Yes
396   6.14        139      23            3  ...   55         11    No  Yes
397   7.41        162      26           12  ...   40         18   Yes  Yes
398   5.94        100      79            7  ...   50         12   Yes  Yes
399   9.71        134      37            0  ...   49         16   Yes  Yes

[400 rows x 11 columns]

In [5]:
company['Sales'].unique()

array([ 9.5 , 11.22, 10.06,  7.4 ,  4.15, 10.81,  6.63, 11.85,  6.54,
        4.69,  9.01, 11.96,  3.98, 10.96, 11.17,  8.71,  7.58, 12.29,
       13.91,  8.73,  6.41, 12.13,  5.08,  5.87, 10.14, 14.9 ,  8.33,
        5.27,  2.99,  7.81, 13.55,  8.25,  6.2 ,  8.77,  2.67, 11.07,
        8.89,  4.95,  6.59,  3.24,  2.07,  7.96, 10.43,  4.12,  4.16,
        4.56, 12.44,  4.38,  3.91, 10.61,  1.42,  4.42,  7.91,  6.92,
        4.9 ,  6.85, 11.91,  0.91,  5.42,  5.21,  8.32,  7.32,  1.82,
        8.47,  7.8 ,  8.85, 13.39,  7.99,  9.46,  6.5 ,  5.52, 12.61,
        8.55, 10.64,  7.7 ,  4.43,  9.14,  8.01,  7.52, 11.62,  2.23,
        8.7 , 11.7 ,  6.56,  7.95,  5.33,  4.81,  4.53,  8.86,  8.39,
        5.58,  9.48,  7.45, 12.49,  4.88,  4.11,  5.3 ,  5.07,  4.62,
        5.55,  0.16,  3.47,  8.98,  9.  ,  6.62,  6.67,  6.01,  9.31,
        8.54,  8.8 ,  7.57,  7.37,  6.87, 11.67,  6.88,  8.19,  8.87,
        9.34, 11.27,  6.52,  4.96,  4.47,  8.41,  9.54,  7.62,  3.67,
        6.44,  5.17, 10.27, 12.3 ,  6.03,  6.53,  7.44,  0.53,  9.09,
        3.9 , 10.51,  7.56, 11.48, 10.49, 10.77,  7.64,  5.93,  6.89,
        7.71,  7.49, 10.21, 12.53,  9.32,  4.67,  2.93,  3.63,  5.68,
        8.22,  0.37,  6.71,  7.3 ,  9.03,  6.38,  0.  ,  7.54,  5.61,
       10.48, 10.66,  7.78,  4.94,  7.43,  4.74,  5.32,  9.95, 10.07,
        8.68,  8.07, 12.11,  8.79, 13.28,  7.23,  4.19,  4.1 ,  2.52,
        3.62,  6.42,  5.56,  5.94,  2.05,  8.74,  4.97,  3.02,  4.36,
        9.39, 12.04,  8.23,  4.83,  2.34,  5.73,  4.34,  9.7 , 10.62,
       10.59,  6.43,  3.45,  6.68,  8.69,  5.4 , 11.19,  5.16,  8.09,
       13.14,  8.65,  9.43,  5.53,  9.62,  7.36,  3.89, 10.31, 12.01,
        4.68,  7.82,  8.78, 10.  ,  6.9 ,  5.04,  5.36,  5.05,  9.16,
        3.72,  8.31,  5.64,  9.58,  4.2 ,  8.67,  5.12,  7.67,  5.71,
        6.37,  7.77,  6.95,  5.31,  9.1 ,  5.83,  5.01, 11.99,  4.55,
       12.98, 10.04,  7.22,  6.93,  3.42,  2.86,  7.74,  6.97,  7.6 ,
        7.53,  6.98,  8.75,  9.49,  6.64, 11.82, 11.28, 12.66,  4.21,
        8.21,  3.07, 10.98,  9.4 ,  8.57,  7.41,  5.28, 10.01, 11.93,
        8.03,  4.78,  5.9 ,  9.24, 11.18,  9.53,  6.15,  6.8 ,  9.33,
        7.72,  6.39, 15.63, 10.08,  5.86, 10.36,  2.66,  6.23,  3.15,
        4.99, 10.1 ,  5.74,  7.63,  6.18,  8.61,  5.97, 11.54,  7.5 ,
        7.38,  5.99,  8.43,  8.97, 12.57,  8.64, 10.44, 13.44,  9.45,
        7.02,  3.58, 13.36,  4.17,  3.13,  5.25, 10.26, 10.5 ,  5.98,
       14.37, 10.71,  7.68,  9.08,  9.44,  7.9 , 16.27,  6.81,  6.11,
        5.81,  9.64,  9.35, 12.85,  8.14,  8.44,  5.47,  6.1 ,  5.57,
        5.35,  6.14,  9.71])

In [9]:
company['Sales'].value_counts()

7.80     4
6.67     3
8.77     3
9.32     3
5.87     3
        ..
8.89     1
13.39    1
9.14     1
5.07     1
9.50     1
Name: Sales, Length: 336, dtype: int64

In [10]:
np.median(company['Sales'])

7.49

In [12]:
company["sales"]="<=7.49"

In [17]:
company["sales"]="<=7.49"
company.loc[company['Sales']>=7.49,'sales']=">=7.49"

In [18]:
company.drop(["Sales"],axis=1,inplace=True)

In [19]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [20]:
for column_names in company.columns:
    if company[column_names].dtype == object:
        company[column_names]= le.fit_transform(company[column_names])
    else:
        pass

In [21]:
#Splitting the data into input and output
featues = company.iloc[:,0:10]
labels = company.iloc[:,10]

In [22]:
#Splitting the data into train and test by using stratify sampling
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test = train_test_split(featues,labels,test_size = 0.3,stratify = labels)

In [24]:
#Looking into the class variable split
y_train.value_counts()

1    141
0    139
Name: sales, dtype: int64

In [25]:
y_test.value_counts()

1    60
0    60
Name: sales, dtype: int64

In [26]:
#Building the model
from sklearn.ensemble import RandomForestClassifier as RF

In [27]:
model =RF(n_jobs=4,n_estimators = 150, oob_score =True,criterion ='entropy') 
model.fit(x_train,y_train)
model.oob_score_

0.7821428571428571

In [29]:
#prediction on training data
pred_train = model.predict(x_train)

In [38]:
from sklearn.metrics import accuracy_score
accuracy_train = accuracy_score(y_train,pred_train)*100
print(accuracy_train)

100.0

In [47]:
#Confusion matrix
from sklearn.metrics import confusion_matrix
con_train = confusion_matrix(y_train,pred_train)

In [35]:
#prediction on test data
pred_test = model.predict(x_test)

In [39]:
#Accuracy on test data
accuracy_test = accuracy_score(y_test,pred_test)*100
print(accuracy_test)

77.5

In [41]:
np.mean(y_test==pred_test)*100

77.5

In [49]:
#Confusion matrix
from sklearn.metrics import confusion_matrix
con_test = confusion_matrix(y_train,pred_train)

In [51]:
#Visualizing the one decision tree in random forest
from sklearn.tree import export_graphviz 
from sklearn.externals.six import StringIO
import pydotplus

In [52]:
colnames = list(company.columns)
predictors = colnames[0:10]
target = colnames[10]
tree1 = model.estimators_[20]
dot_data = StringIO()
export_graphviz(tree1,out_file = dot_data, feature_names =predictors, class_names = target, filled =True,rounded=True,impurity =False,proportion=False,precision=2)

In [56]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
print(dot_data.getvalue())

digraph Tree {
node [shape=box, style="filled, rounded", color="black", fontname=helvetica] ;
edge [fontname=helvetica] ;
0 [label="Advertising <= 7.5\nsamples = 176\nvalue = [153, 127]\nclass = s", fillcolor="#fbeadd"] ;
1 [label="Population <= 276.5\nsamples = 97\nvalue = [107, 53]\nclass = s", fillcolor="#f2bf9b"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="Income <= 69.5\nsamples = 56\nvalue = [46, 43]\nclass = s", fillcolor="#fdf7f2"] ;
1 -> 2 ;
3 [label="Advertising <= 5.5\nsamples = 28\nvalue = [34, 12]\nclass = s", fillcolor="#eead7f"] ;
2 -> 3 ;
4 [label="Population <= 198.0\nsamples = 26\nvalue = [34, 9]\nclass = s", fillcolor="#eca26d"] ;
3 -> 4 ;
5 [label="Price <= 95.0\nsamples = 17\nvalue = [26, 2]\nclass = s", fillcolor="#e78b48"] ;
4 -> 5 ;
6 [label="samples = 2\nvalue = [0, 2]\nclass = a", fillcolor="#399de5"] ;
5 -> 6 ;
7 [label="samples = 15\nvalue = [26, 0]\nclass = s", fillcolor="#e58139"] ;
5 -> 7 ;
8 [label="Price <= 128.5\nsamples = 9\nvalue = [8, 7]\nclass = s", fillcolor="#fcefe6"] ;
4 -> 8 ;
9 [label="Age <= 75.0\nsamples = 6\nvalue = [3, 7]\nclass = a", fillcolor="#8ec7f0"] ;
8 -> 9 ;
10 [label="CompPrice <= 111.0\nsamples = 5\nvalue = [1, 7]\nclass = a", fillcolor="#55abe9"] ;
9 -> 10 ;
11 [label="samples = 1\nvalue = [1, 0]\nclass = s", fillcolor="#e58139"] ;
10 -> 11 ;
12 [label="samples = 4\nvalue = [0, 7]\nclass = a", fillcolor="#399de5"] ;
10 -> 12 ;
13 [label="samples = 1\nvalue = [2, 0]\nclass = s", fillcolor="#e58139"] ;
9 -> 13 ;
14 [label="samples = 3\nvalue = [5, 0]\nclass = s", fillcolor="#e58139"] ;
8 -> 14 ;
15 [label="samples = 2\nvalue = [0, 3]\nclass = a", fillcolor="#399de5"] ;
3 -> 15 ;
16 [label="Price <= 145.0\nsamples = 28\nvalue = [12, 31]\nclass = a", fillcolor="#86c3ef"] ;
2 -> 16 ;
17 [label="CompPrice <= 117.5\nsamples = 24\nvalue = [6, 30]\nclass = a", fillcolor="#61b1ea"] ;
16 -> 17 ;
18 [label="samples = 7\nvalue = [0, 14]\nclass = a", fillcolor="#399de5"] ;
17 -> 18 ;
19 [label="Population <= 137.5\nsamples = 17\nvalue = [6, 16]\nclass = a", fillcolor="#83c2ef"] ;
17 -> 19 ;
20 [label="ShelveLoc <= 1.5\nsamples = 8\nvalue = [5, 3]\nclass = s", fillcolor="#f5cdb0"] ;
19 -> 20 ;
21 [label="samples = 3\nvalue = [0, 3]\nclass = a", fillcolor="#399de5"] ;
20 -> 21 ;
22 [label="samples = 5\nvalue = [5, 0]\nclass = s", fillcolor="#e58139"] ;
20 -> 22 ;
23 [label="Urban <= 0.5\nsamples = 9\nvalue = [1, 13]\nclass = a", fillcolor="#48a5e7"] ;
19 -> 23 ;
24 [label="Population <= 195.5\nsamples = 3\nvalue = [1, 2]\nclass = a", fillcolor="#9ccef2"] ;
23 -> 24 ;
25 [label="samples = 2\nvalue = [0, 2]\nclass = a", fillcolor="#399de5"] ;
24 -> 25 ;
26 [label="samples = 1\nvalue = [1, 0]\nclass = s", fillcolor="#e58139"] ;
24 -> 26 ;
27 [label="samples = 6\nvalue = [0, 11]\nclass = a", fillcolor="#399de5"] ;
23 -> 27 ;
28 [label="Age <= 50.5\nsamples = 4\nvalue = [6, 1]\nclass = s", fillcolor="#e9965a"] ;
16 -> 28 ;
29 [label="samples = 3\nvalue = [6, 0]\nclass = s", fillcolor="#e58139"] ;
28 -> 29 ;
30 [label="samples = 1\nvalue = [0, 1]\nclass = a", fillcolor="#399de5"] ;
28 -> 30 ;
31 [label="Age <= 50.5\nsamples = 41\nvalue = [61, 10]\nclass = s", fillcolor="#e99659"] ;
1 -> 31 ;
32 [label="Education <= 12.5\nsamples = 16\nvalue = [19, 9]\nclass = s", fillcolor="#f1bd97"] ;
31 -> 32 ;
33 [label="samples = 5\nvalue = [7, 0]\nclass = s", fillcolor="#e58139"] ;
32 -> 33 ;
34 [label="Price <= 129.5\nsamples = 11\nvalue = [12, 9]\nclass = s", fillcolor="#f8e0ce"] ;
32 -> 34 ;
35 [label="Advertising <= 2.5\nsamples = 8\nvalue = [4, 9]\nclass = a", fillcolor="#91c9f1"] ;
34 -> 35 ;
36 [label="Income <= 57.0\nsamples = 5\nvalue = [4, 4]\nclass = s", fillcolor="#ffffff"] ;
35 -> 36 ;
37 [label="samples = 3\nvalue = [4, 0]\nclass = s", fillcolor="#e58139"] ;
36 -> 37 ;
38 [label="samples = 2\nvalue = [0, 4]\nclass = a", fillcolor="#399de5"] ;
36 -> 38 ;
39 [label="samples = 3\nvalue = [0, 5]\nclass = a", fillcolor="#399de5"] ;
35 -> 39 ;
40 [label="samples = 3\nvalue = [8, 0]\nclass = s", fillcolor="#e58139"] ;
34 -> 40 ;
41 [label="Urban <= 0.5\nsamples = 25\nvalue = [42, 1]\nclass = s", fillcolor="#e6843e"] ;
31 -> 41 ;
42 [label="Price <= 100.0\nsamples = 5\nvalue = [10, 1]\nclass = s", fillcolor="#e88e4d"] ;
41 -> 42 ;
43 [label="samples = 1\nvalue = [0, 1]\nclass = a", fillcolor="#399de5"] ;
42 -> 43 ;
44 [label="samples = 4\nvalue = [10, 0]\nclass = s", fillcolor="#e58139"] ;
42 -> 44 ;
45 [label="samples = 20\nvalue = [32, 0]\nclass = s", fillcolor="#e58139"] ;
41 -> 45 ;
46 [label="Education <= 10.5\nsamples = 79\nvalue = [46, 74]\nclass = a", fillcolor="#b4daf5"] ;
0 -> 46 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
47 [label="Income <= 37.0\nsamples = 11\nvalue = [1, 13]\nclass = a", fillcolor="#48a5e7"] ;
46 -> 47 ;
48 [label="Urban <= 0.5\nsamples = 5\nvalue = [1, 5]\nclass = a", fillcolor="#61b1ea"] ;
47 -> 48 ;
49 [label="samples = 1\nvalue = [1, 0]\nclass = s", fillcolor="#e58139"] ;
48 -> 49 ;
50 [label="samples = 4\nvalue = [0, 5]\nclass = a", fillcolor="#399de5"] ;
48 -> 50 ;
51 [label="samples = 6\nvalue = [0, 8]\nclass = a", fillcolor="#399de5"] ;
47 -> 51 ;
52 [label="CompPrice <= 122.5\nsamples = 68\nvalue = [45, 61]\nclass = a", fillcolor="#cbe5f8"] ;
46 -> 52 ;
53 [label="Education <= 17.5\nsamples = 30\nvalue = [10, 39]\nclass = a", fillcolor="#6cb6ec"] ;
52 -> 53 ;
54 [label="Age <= 75.5\nsamples = 26\nvalue = [10, 30]\nclass = a", fillcolor="#7bbeee"] ;
53 -> 54 ;
55 [label="Income <= 76.0\nsamples = 24\nvalue = [7, 30]\nclass = a", fillcolor="#67b4eb"] ;
54 -> 55 ;
56 [label="Income <= 73.5\nsamples = 11\nvalue = [7, 8]\nclass = a", fillcolor="#e6f3fc"] ;
55 -> 56 ;
57 [label="ShelveLoc <= 1.5\nsamples = 10\nvalue = [5, 8]\nclass = a", fillcolor="#b5daf5"] ;
56 -> 57 ;
58 [label="samples = 3\nvalue = [0, 4]\nclass = a", fillcolor="#399de5"] ;
57 -> 58 ;
59 [label="Population <= 292.0\nsamples = 7\nvalue = [5, 4]\nclass = s", fillcolor="#fae6d7"] ;
57 -> 59 ;
60 [label="CompPrice <= 111.0\nsamples = 5\nvalue = [1, 4]\nclass = a", fillcolor="#6ab6ec"] ;
59 -> 60 ;
61 [label="CompPrice <= 104.5\nsamples = 2\nvalue = [1, 1]\nclass = s", fillcolor="#ffffff"] ;
60 -> 61 ;
62 [label="samples = 1\nvalue = [0, 1]\nclass = a", fillcolor="#399de5"] ;
61 -> 62 ;
63 [label="samples = 1\nvalue = [1, 0]\nclass = s", fillcolor="#e58139"] ;
61 -> 63 ;
64 [label="samples = 3\nvalue = [0, 3]\nclass = a", fillcolor="#399de5"] ;
60 -> 64 ;
65 [label="samples = 2\nvalue = [4, 0]\nclass = s", fillcolor="#e58139"] ;
59 -> 65 ;
66 [label="samples = 1\nvalue = [2, 0]\nclass = s", fillcolor="#e58139"] ;
56 -> 66 ;
67 [label="samples = 13\nvalue = [0, 22]\nclass = a", fillcolor="#399de5"] ;
55 -> 67 ;
68 [label="samples = 2\nvalue = [3, 0]\nclass = s", fillcolor="#e58139"] ;
54 -> 68 ;
69 [label="samples = 4\nvalue = [0, 9]\nclass = a", fillcolor="#399de5"] ;
53 -> 69 ;
70 [label="Price <= 126.0\nsamples = 38\nvalue = [35, 22]\nclass = s", fillcolor="#f5d0b5"] ;
52 -> 70 ;
71 [label="Income <= 36.5\nsamples = 16\nvalue = [5, 17]\nclass = a", fillcolor="#73baed"] ;
70 -> 71 ;
72 [label="samples = 1\nvalue = [2, 0]\nclass = s", fillcolor="#e58139"] ;
71 -> 72 ;
73 [label="Advertising <= 10.5\nsamples = 15\nvalue = [3, 17]\nclass = a", fillcolor="#5caeea"] ;
71 -> 73 ;
74 [label="samples = 2\nvalue = [3, 0]\nclass = s", fillcolor="#e58139"] ;
73 -> 74 ;
75 [label="samples = 13\nvalue = [0, 17]\nclass = a", fillcolor="#399de5"] ;
73 -> 75 ;
76 [label="Advertising <= 10.5\nsamples = 22\nvalue = [30, 5]\nclass = s", fillcolor="#e9965a"] ;
70 -> 76 ;
77 [label="CompPrice <= 139.0\nsamples = 7\nvalue = [5, 4]\nclass = s", fillcolor="#fae6d7"] ;
76 -> 77 ;
78 [label="samples = 4\nvalue = [5, 0]\nclass = s", fillcolor="#e58139"] ;
77 -> 78 ;
79 [label="samples = 3\nvalue = [0, 4]\nclass = a", fillcolor="#399de5"] ;
77 -> 79 ;
80 [label="CompPrice <= 142.0\nsamples = 15\nvalue = [25, 1]\nclass = s", fillcolor="#e68641"] ;
76 -> 80 ;
81 [label="samples = 12\nvalue = [19, 0]\nclass = s", fillcolor="#e58139"] ;
80 -> 81 ;
82 [label="Population <= 408.0\nsamples = 3\nvalue = [6, 1]\nclass = s", fillcolor="#e9965a"] ;
80 -> 82 ;
83 [label="samples = 2\nvalue = [6, 0]\nclass = s", fillcolor="#e58139"] ;
82 -> 83 ;
84 [label="samples = 1\nvalue = [0, 1]\nclass = a", fillcolor="#399de5"] ;
82 -> 84 ;
}

In [62]:
#Creating pdf file
graph.write_pdf('companyrf.pdf')

True

In [65]:
#Creating png file
graph.write_png('companyrf.png')

True